<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.gosarhro.stocktaking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name="ru.gosarhro.stocktaking.activity.LoginActivity" />
        <activity android:name="ru.gosarhro.stocktaking.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ru.gosarhro.stocktaking.activity.LocationActivity" />
        <activity android:name="ru.gosarhro.stocktaking.activity.ItemActivity" />
        <activity android:name="ru.gosarhro.stocktaking.activity.QRCameraActivity" />
    </application>

</manifest>